/* https://www.canva.com/colors/color-wheel/ -- Great website*/
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App {
	text-align: center;
}

.Test {
	text-align: left;
}

.App-header {
	background-color: #30cf79;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #db247e;
}

.App-style {
	background-color: #30cf79;
}

.App-link {
	color: gray;
}
